div {
  font-family: Helvetica, Arial;
  font-size: 8vmin;
  text-align: center;
  text-shadow: red 0em 0em 1em;
  color: white;
  display: block;
  position: fixed;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.added {
  top: 50%;
  opacity: 100;
  transition-property: opacity, top;
  transition-duration: 2s;  
}

.removing {
  opacity: 0;
  top: -50%;
  transition-property: opacity, top;
  transition-duration: 3s;
}

body {
  background: pink;
}
